<div style="width: 100%;height: 100%;display: flex;flex-direction: column;align-items: center;justify-content: center; gap: 15px;">

  <div class="admin-title">
    <h2>View / Edit Post</h2>
  
  </div>
  <form action="/edit-post/<%= data._id %>?_method=PUT" class="addingPost_form" method="POST" enctype="multipart/form-data">
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">
    
    <label for="mintitle"><b>Mini Title</b></label>
    <input type="text" placeholder="Post Mini Title" name="mintitle" value="<%= data.mintitle %>">
    
    <label for="body"><b>Content</b></label>
    <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>
    
    <label for="img"><b>Current Image</b></label>
    <img src="<%= data.img %>" alt="Current Image" style="width: 100px; height: auto;"> 
    <input type="file" name="img">
    
    <input type="submit" value="Update" class="btn form_btn">
  </form>
  <div style="display: flex; gap: 20px; align-items: center;">
    <a href="/dashboard/posts">&larr; Back</a>
    <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" class="btn form_btn">
    </form>
  </div>
</div>


