<a href="/dashboard">&larr; Back</a>
<ul class="admin-posts">
    <% data.forEach(article => { %>
        <li class="post card <%= article.section  %> hide" >
          <a style="display: flex;align-items: center;" class="product-name" href="/impression/<%= article._id %>">
            <%= article.title %> &nearr;
          </a>
          <div class="admin-post-controls">
            <a href="/edit-impression/<%= article._id %>" class="btn">Edit</a>
            <form action="/delete-impression/<%= article._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete" class="btn-delete btn">
            </form>
          </div>
        </li>
      <% }) %>
  </ul>
  